<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Madura Aritcles API</title>
    <style>
        code {
            font-family: Consolas,"courier new";
            color: crimson;
            background-color: #f1f1f1;
            padding: 2px;
            font-size: 105%;
        }
        .get{
            color: green;
        }
        .post{
            color: saddlebrown;
        }
        .put{
            color: blue;
        }
        .delete{
            color: red;
        }
    </style>
</head>
<body>
    <h2>Add Article</h2>
    <code class="post"><strong>POST</strong></code> <code>http://localhost:8080/{id}/articles/add</code><br/>
    <p><strong>Path</strong></p>
    <p>id: id of person who uses this method</p>
    <p><strong>Request body</strong></p>
    <p>content: article's content (written using html)</p>
    <p>genre: article's genre</p>
</body>
</html>