<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Madura Aritcles API</title>
    <style>
        code {
            font-family: Consolas,"courier new";
            color: crimson;
            background-color: #f1f1f1;
            padding: 2px;
            font-size: 105%;
        }
        .get{
            color: green;
        }
        .post{
            color: saddlebrown;
        }
        .put{
            color: blue;
        }
        .delete{
            color: red;
        }
    </style>
</head>
<body>
    <h2>Delete Person</h2>
    <code class="delete"><strong>DELETE</strong></code> <code>http://localhost:8080/{deleterId}/persons/delete/{deletedId}</code><br/>
    <p><strong>Path</strong></p>
    <p>deleterId: id of person who uses this method</p>
    <p>deletedId: id of person who wanted to be deleted</p>
</body>
</html>